
/* ESTILOS GENERALES */

* {
    box-sizing: border-box;
}


h1,
h2,
h3 {
    font-family: 'bai jamjuree', sans-serif; 
}

p,
a,
input,
li,
textarea {
    font-family: 'bai jamjuree', sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}


  /*------NAV------*/
  .contenedor__nav {
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
  }
  
  .nav {
    --state-close: scale(0);
    --state-hambur: scale(1);
    --state-menu: translate(-100%);
    padding: 40px 0;
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: repeat(2, max-content);
  }
  .nav:target {
    --state-menu: translate(0);
    --state-close: scale(1);
    --state-hambur: scale(0);
  }
  
  .nav__logo {  
    margin-left: 15px;
    height: 4rem;
  }
  
  .nav__hambur,
  .nav__close {
    cursor: pointer;
    grid-column: -2/-1;
    grid-row: 1/2;
    transition: 0.4s transform;
  }
  
  .nav__hambur {
    transform: var(--state-hambur);
  }
  
  .nav__close {
    transform: var(--state-close);
  }
  
  .nav__icon {
    width: 40px;
    color: black;
  }
  
  .nav__links {
    background-color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    display: grid;
    align-content: center;
    gap: 2em;
    padding-left: 5%;
    transform: var(--state-menu);
    transition: 0.3s transform;
  }
  
  .nav__item {
    list-style: none;
  }
  .nav__item:hover {
    transform: translateY(-1px) scale(1.1);
  }
  
  .nav__link {
    color: #000;
    text-decoration: none;
    font-family: 'bai jamjuree', sans-serif;
    font-size: 1.2rem;
    letter-spacing: 2px;
    background-image: linear-gradient(90deg, #000000, #ffed4f, #ffc831);
    background-repeat: no-repeat;
    background-size: 0% 2px;
    background-position: left bottom;
    transition: background-size 700ms ease-in-out;
  }
  .nav__link:hover {
    color: #000;
    background-size: 90% 2px;
  }

/*------INDEX------*/

  
#section-principal{
  height: 120vh;
  background-image: linear-gradient(0deg,
  rgba(0, 0, 0, 0.5),
  rgba(0, 0, 0, 0.5)),
url(../img/fondo-index.jpg);
background-position: center center;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
padding: 30px;
height: 100vh;
}
  .sup {
    display: flex;
    justify-content: center;
    width: 100%;
  } 
  
  .title {
    font-size: 50px;
    font-weight: bold;
    font-family: 'bai jamjuree', sans-serif;
    color: rgb(152, 33, 231);
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.507);
   
  }
  
  .principal {
    display: grid;
    justify-content: center;
    width: 100%;
  }
  .principal img {
    width: 60%;
    padding-top: 15px;
    padding-bottom: 25px;
  }
  .principal h2 {
    font-family: 'bai jamjuree', sans-serif;
    font-size: 1.5rem;
    color: #ffffff;
    margin-left: 20px;
  }
  .principal a {
    text-decoration: none;
  }
  
  .principal__cont h2 {
    font-family: 'bai jamjuree', sans-serif;
    font-size: 1.5rem;
    color: #fff0f0;
    background-color: rgba(255, 255, 255, 0);
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  }




/*------CELULARES------*/
.contenedor {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  background-color: #dadada00;
}
.contenedor img {
  display: flex;
  margin: 0 auto;
  width: 60%;
  height: 300px;
  padding: 1px;
  object-fit: cover;
}
.contenedor p {
  margin-top: 10px;
}

.tarjeta {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 80%;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 2px 2px 8px 4px rgba(141, 132, 132, 0.82);
  font-family: 'bai jamjuree', sans-serif;
  border-radius: 15px;
  padding: 10px;
  margin: 20px;
}

.cuerpo {
  padding: 5px;
}

#p1, #p2, #p3, #p4, #p5, #p6 {
  display: none;
  font-family: 'bai jamjuree', sans-serif;
  text-align: justify;
  
}
#p1:target, #p2:target, #p3:target, #p4:target, #p5:target, #p6:target {
  display: block;
  scroll-margin-top: 300px;
}

.pie {
  background: black;
  border-radius: 0 0 15px 15px;
  padding: 10px;
  text-align: center;
}
.pie a {
  font-family: 'bai jamjuree', sans-serif;
  text-decoration: none;
  background-color: black;
  color: white;
}

.pie a:hover {
  background-color: #111;
  width: 10%;
}



/* ---DIRECCION/TIENDAS------*/
.title_tiendas {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  text-align: center;
  font-family: 'bai jamjuree', sans-serif;
  font-weight: bold;
}

.conteiner__tiendas {
  
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 60vh;
}

.tiendas {
  display: flex;
  flex-direction: column;
  margin-left: 150px;
  margin-top: 20px;
  margin-bottom: 50px;
  font-family: 'bai jamjuree', sans-serif;
  padding: 5px;
}
.tiendas h5 {
  margin: 3px;
}
.tiendas a {
  color: #7e7e7e;
  text-decoration: none;
}
.tiendas ul {
  margin: 10px;
  padding: 5px;
}

.map {
  display: flex;
  justify-content: center;
  align-items: center;
}
.map iframe {
  width: 70%;
  height: 65%;
}

/*NOSOTROS*/
.nosotros {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  padding: 30px;
  padding-top: 60px;
  text-align: justify;
  font-size: large;
  font-family: 'bai jamjuree', sans-serif;
  line-height: 25px;
}

.nosotros__img {
  display: flex;
  padding: 25px;
  justify-content: center;
  align-items: center;
}
.nosotros__img img {
  width: 80%;
}




  
/*FOOTER*/
footer {
    width: 100%;
    background-color: #111;
  }
  
  .container__footer {
    display: grid;
    width: 100%;
    max-width: 1400px;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
    background-color: #111;
  }
  
  .box__footer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 5px;
    background-color: #111;
  }
  .box__footer h2 {
    margin-bottom: 30px;
    font-family: 'bai jamjuree', sans-serif;
    font-size: 18px;
    font-weight: 540;
    color: #fff;
    background-color: #111;
  }
  .box__footer ul {
    list-style: none;
    background-color: #111;
  }
  .box__footer li {
    background-color: #111;
  }
  .box__footer ul li {
    display: inline-block;
    margin: 0 5px;
    width: 50px;
    height: 50px;
    text-align: center;
  }
  .box__footer ul li a {
    text-decoration: none;
  }
  .box__footer ul li i {
    display: block;
    padding: 0 10px;
    background-color: #111;
    color: #fff;
    line-height: 50px;
    font-size: 20px;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
    transition: 0.2s;
  }
  
  .footer__a {
    margin-top: 10px;
    color: #7e7e7e;
    text-decoration: none;
    background-color: #111;
    font-family: 'bai jamjuree', sans-serif;
  }
  .footer__a:hover {
    opacity: 0.8;
    color: #7e7e7e;
  }
  
  .copy {
    background-color: #111;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
  }
  .copy small {
    background-color: #111;
    font-size: 15px;
  }
  .copy b {
    background-color: #111;
    font-size: 15px;
  }
  
  .facebook:hover {
    background-color: #3b5999;
  }
  
  .instagram:hover {
    background-color: #e4405f;
  }
  
  .twitter:hover {
    background-color: #00acee;
  }
  
  .youtube:hover {
    background-color: #c4302b;
  }
















/* Responsive */
@media screen and (max-width: 768px) {
  .contenedor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .contenedor img {
    width: 100%;
  }
  .container__footer {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
  .cuerpo img {
    object-fit: contain;
  }
  .conteiner__tiendas {
    display: grid;
    grid-template-columns: 1fr;
  }
  .conteiner__tiendas iframe {
    min-height: 300px;
    margin-bottom: 20px;
  }
}
@media (max-width: 500px) {
  .contenedor {
    display: grid;
    grid-template-columns: auto;
  }
  .contenedor img {
    width: 80%;
  }
  .tiendas {
    margin: 0;
    text-align: center;
    align-items: center;
  }
  .principal h2 {
    font-size: 1rem;
  }
  .principal__cont h2 {
    font-size: 0.8rem;
    text-align: center;
    margin: 0;
  }
}
@media (max-width: 650px) {
  .nosotros {
    margin: 0;
    padding: 0;
  }
  .nosotros__img {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
  }
}
@media (min-width: 768px) {
  .nav {
    --state-hambur: scale(0);
    --state-menu: translate(0);
  }
  .nav :target {
    --state-close: scale(0);
  }
  .nav__links {
    height: 30px;
    padding: 0;
    align-items: center;
    background-color: unset;
    position: unset;
    gap: 1.5em;
    grid-auto-flow: column;
    transform: unset;
    grid-column: -2/-1;
    grid-row: 1/2;
    margin: 0 auto;
    margin-right: 25px;
  }
  .nav__link {
    font-size: 1.5rem;
    letter-spacing: none;
  }
  .principal img {  
    display: flex;
    width: 40%;
    justify-content: center;
    margin: 0 auto;
  }




}



@media (max-width: 1024px) {
  .nosotros {
    display: grid;
    width: 90%;
    margin: 0 auto;
    grid-template-columns: 1fr;
  }
  .container {
    width: 100%;
  }


}

 

@media (max-width: 2000px) {
  
  .principal__cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .principal {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .principal img {  
    display: flex;
    width: 80%;
    justify-content:flex-start;
    margin: 0 auto;
  }
}


/*# sourceMappingURL=styles.css.map */